* {
	box-sizing: border-box;
}
html,
body {
	font-family: "Raleway", sans-serif;
}
.App {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.get-random-quote {
  position: fixed;
  top: 1rem;
  right: 1rem;
}

.quote-container {
	width: 40%;
	min-height: 300px;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.quote {
	width: 100%;
	font-size: 1.5rem;
	text-align: justify;
	padding-left: 3rem;
	border-left: 0.4rem solid #f7df94;
	margin: 0;
	margin-bottom: 2rem;
	line-height: 2.1rem;
  padding-right: 1.5rem;
}
.quote-footer {
	display: block;
	width: 100%;
  padding-left: 2.2rem;
}
.quote-footer:hover .quote-footer-container {
  background: #333;
  color: white;
  cursor: pointer;
}
.quote-footer-container {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	padding-left: 1.2rem;
  transition: all .2s ease-in;
}
.quote-footer p {
	font-size: 1.2rem;
	font-weight: 700;
	line-height: 1.5rem;
}
.quote-footer span {
	color: #828282;
}
